
<mat-card>
    <mat-card-title>User Registeration</mat-card-title>
   <mat-card-content>
    <form class="example-form" [formGroup]="reactiveform" (ngSubmit)="SaveUser()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>FirstName</mat-label>
            <input matInput placeholder="FirstName" formControlName="FirstName" >
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>MiddleName</mat-label>
            <input matInput placeholder="MiddleName" formControlName="MiddleName" >
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>LastName</mat-label>
            <input matInput placeholder="LastName" formControlName="LastName" >
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="Username"  >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password"  type="password" formControlName="Password"   >
          </mat-form-field>
          <div>
            <button mat-raised-button type="submit" color="primary">Register</button>
            <a mat-raised-button style="margin: 5px" color="accent" (click)="RedirectLogin()">Close</a>
          </div>
      </form>
     
   </mat-card-content>
   
</mat-card>